<nav class="navbar nav-global nav-global-sign navbar-expand-sm">
    <div class="container d-flex justify-content-center">
        <a class="navbar-brand" href="/">
            <img class="img-brand" alt="나눗셈" width="132" src="https://ifh.cc/g/Ng51kp.png">
        </a>
    </div>
</nav>