<%- include('includes/head.ejs')%>
<body>
    <%- include('includes/nav.ejs')%>
    <div class="container container-sm container-sign">
        <form class="form-sign" action="/login" method="post">
            <h5 class="form-headline"> 로그인 </h5>
            <div class="form-group">
                <input type="email" class="form-control" id="inputEmail" placeholder="이메일" name="inputEmail" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="inputPassword" placeholder="비밀번호" name="inputPassword" required>
            </div>
            <button class="btn btn-block btn-primary">로그인 하기</button>
            <a href="/signup" class="btn btn-block btn-light">계정 만들기</a>

            <h6 class="txt-terms">
                <a href="#">이용약관</a> 및 <a href="#">개인정보</a> 취급방침
            </h6>
        </form>
    </div>
    
    <%- include('includes/scripts.ejs')%>
</body>

</html>